  #mainmenu ul.nav > li.dropdown:hover > .dropdown-menu{
  display: block;
 }

.megamenu .menu-icon{
	background-position: left center !important;
	padding-left: 35px;
	display:block;
}

	.megamenu .menu-title{
		display:block
	}	
	.megamenu .menu-desc{
		display:block;
		font-size:11px
	}
.megamenu  .menu-content{
}

.megamenu  .menu-content h4{
	line-height: 40px;
}
.megamenu .level1 .caret{
	display:none;
}
.nav.megamenu > li.homepage.open, .nav.megamenu > li.homepage:hover {
}
.megamenu li.homepage a {
    display: block;
    overflow: hidden;
}

.megamenu ul{
	margin:0;
	padding:0
}
.megamenu ul li{
	list-style:none;
}
.nav.megamenu > li.open,
.nav.megamenu > li:hover {
}

.nav.megamenu > li:last-child {
}
.dropdown-menu.menu-content.mega-cols li > a:hover{
	background: none;
}
.dropdown-submenu > a:after {
 
    margin-right: -10px;
    margin-top: -22px;
}
.dropdown-mega li > a {
}
.dropdown-mega li > a:hover {
}
.megamenu .mega-col{

}
.megamenu .cols1{
min-width:200px;
}
.megamenu .cols2{
	min-width:500px;
}
.megamenu .cols3{
	min-width:740px;
}
.fullwidth {

}

.megamenu .mega-group > a:hover{
	 background: none;
}
.megamenu .mega-group  > a .menu-title {
    font-size: 16px;
    font-weight: 600;
}
.megamenu .mega-group  > a .menu-title .caret {
	display: none;
}

.dropdown-submenu > a:after, .dropdown-submenu > a:before {
    display: none;
}
#mainmenu .navbar .navbar-inner ul.nav li.open .dropdown-submenu a b.arrow, #mainmenu .navbar .navbar-inner ul.nav li.open .dropdown-submenu a b.caret {
	display: none;}


.nav.megamenu ul li.mega-group{
 padding:0;
 background: none;
 border-bottom: none;
 }
 li .menu-content p img {
 	  margin: 10px 20px;
 }
.box-brand .dropdown-menu-inner{
       background-color: #5F9A7B;
    overflow: visible;
    position: absolute;
    right: -94px;
    width: 940px;
}
.dropdown-menu .menu-content ul.children li.li_brand {
	float: left;
	border:  none;
	width: 33%;
	padding: 5px 0;
}
.dropdown-menu .menu-content ul.children li a {
	color: #fff;
}
.dropdown-menu .menu-content ul.children li:hover a {
	background:  none;
	color: #fff;
	text-decoration: underline;
}
.dropdown-menu .menu-content ul.children li img {
	box-shadow: 0 0 4px #606060;
}

.pavo-widget {
	padding: 10px;
}
.pavo-widget .menu-title {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 10px;
}

.widget-product-list .product-block {
	margin-bottom: 10px;
}
.widget-product-list .image {
    border: 1px solid #E7E7E7;
    float: left;
    margin-right: 10px;
	padding: 0;
}
.widget-product-list .product-block:hover .image a {
	opacity: 1;
}
.widget-product-list .name a {
 font-weight: bold;
 font-size: 12px;
 margin: 0;
 color: #fff;
 padding: 0;
 border: none!important
 }
.widget-product-list .product-block:hover .name a {
	color: #fff;
	}
 .widget-product-list .product-block .price  {
	font-size: 14px;
	color: #F94B4B;
	margin: 5px 0;
 }
.widget-product-list .product-block:hover .price {
    display: block;
	color: #F94B4B;
}
.widget-product-list .product-block .price-old {
 color: #555;}
.widget-product-list .product-block .button {
	line-height: 28px;
	height: 28px;
}
.widget-product-list .product-block  .cart {
 display: none;
 }
.widget-banner {
    border: 1px solid #E7E7E7;
}
.widget-banner .w-banner {
    float: left;
    margin: 6px 10px;
}

.hidden-title .menu-title {
	display: none;
}

.widget-category .widget-html {
	margin: 0 -10px;
}
 